// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$theme_fg_color: "@theme_fg_color";
$theme_bg_color: "@theme_bg_color";

window.Bar {
  background: transparent;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.85;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 5px;

  menubutton,
  button {
    background-color: #{$theme_bg_color};
    color: #{$theme_fg_color};
    border-radius: 8px;
    margin: 2px;
  }

  .workspace-button {
    min-width: 44px;
    min-height: 14px;
    padding: 0;
  }

  .focused {
    background: #{$theme_fg_color};
    color: #{$theme_bg_color};
  }

  .critical {
    color: red;
  }

  .cpu-icon {
    font-size: 22px;
  }

  .cpu-bar {
    margin: 0 -1px;
  }
}
